.admin a {
    color: #ff0000;
}

.admin .btn {
    color: #ffffff;
    background-color: #000000;
    border-width: 3px;
    border-color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
}

.admin .btn:active, .admin .btn:hover {
    background-color: #ff0000 !important;
}

.admin table {
    border-color: #000000 !important;
    border-width: 1.5px !important;
}

.admin table td {
    background-color: #A9A9A9;
    border-color: #000000 !important;
    border-width: 1.5px !important;
}

.admin table th {
    background-color: #000000 !important;
    border-color: #000000 !important;
    border-width: 1.5px !important;
}

.admin .contact {
    border: solid 1.5px #000000;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #A9A9A9;
}

.admin .contact span {
    background-color: #000000;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
    color: #ffffff;
}

.admin .images {
    background-color:  #A9A9A9;
    border: solid #000000;
    padding: 0.5rem;
}

.admin .images .image {
    margin: 0.5rem;
    border: solid #000000;
    background-color:  #ffffff;
}

.adminheader {
    background-color: #000000 !important;
}