table{
    border: 0px solid black;
    
}

th{
    text-align: center;
}

td{
    text-align: center;
    width: 25%;
}

tr{
    border-top: 1px solid black;
}

.tdimg{
    max-width: 80%;
    margin-top: 4%;
    margin-bottom:5%;
}

.inputw{
    max-width: 15%;
    text-align: center;
    margin-left:45%;
}

.pixel{
    padding-top: 2px;
}